<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
  <div class="navbarH">
    <!-- Links -->
    <div class="home">
      <a class="nav-link" rel="noopener" target="_blank" href="../"><img
          src="https://m.media-amazon.com/images/I/51RZjTHw0NL._AC_SY200_QL15_.jpg" width="85" height="45"></a>
    </div>
    {{!-- <a class="nav-link" rel="noopener" target="_blank" href="../register">Register</a> --}}
    <a class="nav-link" rel="noopener" target="_blank" href="../postimage">Post Image</a>
    <a class="nav-link" rel="noopener" target="_blank" href="../viewpost">View Image</a>
    {{#if isLoggedIn}}
    <a id="logout-button" class="nav-link" rel="noopener" target="_blank" href="../logout">Log Out</a>
    {{else}}
    <div class="Navbar Navbar-loggedOut">
      <div class="Navbar-loggedOut"></div>
      <a class="Navbar-signin" href="../login">Sign in</a>
      <br>
      <a class="ButtonLink Button Navbar-signup" title="Sign up" href="../register">
        <span class="Button-label">Sign up</span></a>
    </div>
    {{!-- <a id="login-button" class="nav-link" rel="noopener" target="_blank" href="../login">Login</a> --}}
    {{/if}}
    <br><br><br><br>
    <!-- Links -->
  </div>
</nav>
<!--/.Navbar-->
<br><br><br><br>