<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
  <div class="navbarF">
    <!-- Links -->
    <a class="nav-link" rel="noopener" target="_blank" href="../">Home</a>
    <a class="nav-link" rel="noopener" target="_blank" href="../login">Login</a>
    <a class="nav-link" rel="noopener" target="_blank" href="../register">Register</a>
    <a class="nav-link" rel="noopener" target="_blank" href="../postimage">Post Image</a>
    <a class="nav-link" rel="noopener" target="_blank" href="../viewpost">View Image</a>
    <br><br><br>
    <!-- Links -->
  </div>
</nav>
<!--/.Navbar-->