<html>

<body>
  <header>
    <title>Image Posting Page</title>
    Upload your image here!
  </header>


  <!--Main layout-->

  <main>
    <form action="" method="post">
      <div class="upload">
        <br>

        <label for="title"><b>Title: </b></label>
        <input type="text" placeholder="Document Title" name="title" required>
        <br>

        <p>
          Upload an image:
          <input type="file" id="imageFile" accept="image/*" />
        </p>

        <label for="description"><b>Description</b></label>
        <input type="text" placeholder="Enter a Description" name="description" required>
        <br>
        <br>

        <a href="#">
          <input type="checkbox" id="aup" name="aup" required>
          <label for="AUP">Acceptable Use Policy</label>
        </a>
        <br>
        <br>
        <button type="submit">Upload</button>
      </div>
    </form>
  </main>

  <!--Main layout-->


</body>

</html>