<html>

<body>
  <header>
    <script defer type="text/javascript" src="/public/js/registration.js"></script>
    <title>Registering Page</title>

    <h1>Register now!</h1>
  </header>

  <main>
    <form id="reg-form" action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="register">
        <label for="uname"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>

        <label for="email"><b>Email</b></label>
        <br>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br>

        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>

        <label for="cpsw"><b>Confirm Password</b></label>
        <br>
        <input type="password" placeholder="Confirm Password" name="cpsw" required>
        <br>

        <label for="13+">I am 13 years of age or older</label>
        <input type="checkbox" id="13+" required>
        <br>
        <a href="#">
          <label for="tc">Terms and Conditions</label>
          <input type="checkbox" id="tc" name="tc" required>
        </a>
        <br>
        <button type="submit">Register</button>
        <button type="button" class="cancelbtn">Cancel</button>

      </div>
      {{> forgotPW}}

    </form>
  </main>
</body>

</html>