<html>

<body>
  <header>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Registering Page</title>

    <h1>Register now!</h1>
  </header>

  <main>
    <form action="register.html" method="post">
      <div class="registerInfo">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <label for="cpsw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="cpsw" required>
        <br>
        <label>
          <input type="checkbox" checked="checked" name="13+"> I am 13 years of age or older
        </label>
        <br>
        <button type="submit">Register</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
      <div class="forgot">
        <span class="psw"> <a href="../login">Forgot password?</a></span>
      </div>
      <a href="#">
        <input type="checkbox" id="tc" name="tc" required>
        <label for="tc">Terms and Conditions</label>
      </a>
    </form>
  </main>
</body>

</html>