<html>

<body>
  <header>
    <script defer type="text/javascript" src="/application/public/js/registration.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script> -->
    <title>Post Viewing Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
      <div class="navbar">
        <!-- Links -->
        <a class="nav-link" rel="noopener" target="_blank" href="../html/index.html">Home</a>
        <a class="nav-link" rel="noopener" target="_blank" href="../html/login.html">Login</a>
        <a class="nav-link" rel="noopener" target="_blank" href="../html/register.html">Register</a>
        <a class="nav-link" rel="noopener" target="_blank" href="..//html/postimage.html">Post Image</a>
        <a class="nav-link" rel="noopener" target="_blank" href="..//html/viewpost.html">View Image</a>
        <br><br><br>
        <!-- Links -->

        <form class="form-inline">
          <div class="searchbar">
            <input class="searchbar" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </nav>
    <!--/.Navbar-->
    Check out this sweet post!
  </header>

  <!--Main Navigation-->

  <!--Main layout-->


  <main>
    <!-- title -->
    "Sweet Post"<br>
    <img src="https://i1.sndcdn.com/artworks-000382107042-dwbw6b-t500x500.jpg" alt="Sweet Post">

    <p>
      <!-- Post Author -->
      By: Richard Post
      <br>
      <br>
      <!-- Timestamp -->
      Post's Timestamp
      <br>

      <img src="https://timeandtidewatches.com/wp-content/uploads/2020/03/Screen-Shot-2020-03-06-at-9.53.11-am.png"
        width="600" height="660" alt="Post's Timestamp">
    </p>
  </main>

  <!--Main layout-->


  <!--Footer-->
  <footer>

    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Zlatan_Ibrahimovi%C4%87_June_2018.jpg" alt="footer">
    <br>
    <div class="footernav">
      <a class="nav-link" rel="noopener" target="_blank" href="../html/index.html">Home</a>
      <a class="nav-link" rel="noopener" target="_blank" href="../html/login.html">Login</a>
      <a class="nav-link" rel="noopener" target="_blank" href="../html/register.html">Register</a>
      <a class="nav-link" rel="noopener" target="_blank" href="..//html/postimage.html">Post Image</a>
      <a class="nav-link" rel="noopener" target="_blank" href="..//html/viewpost.html">View Image</a>

    </div>
  </footer>
</body>

<!--Footer-->

</html>