<html>

<body>
  <header>
    <title>Post Viewing Page</title>
    <link rel="stylesheet" href="../public/css/style.css">
    Check out this sweet post!
  </header>

  <!--Main Navigation-->

  <!--Main layout-->

  <main>
    <!-- title -->
    "Sweet Post"<br>
    <img src="https://i1.sndcdn.com/artworks-000382107042-dwbw6b-t500x500.jpg" alt="Sweet Post">

    <p>
      <!-- Post Author -->
      By: Richard Post
      <br>
      <br>
      <!-- Timestamp -->
      Post's Timestamp
      <br>

      <img src="https://timeandtidewatches.com/wp-content/uploads/2020/03/Screen-Shot-2020-03-06-at-9.53.11-am.png"
        width="600" height="660" alt="Post's Timestamp">
    </p>
  </main>

  <!--Main layout-->




</html>