h1 {
  text-shadow: none;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

header img {
  height: 80px;
}

.upload {
  background-color: black;
  width: 22%;
  position: relative;
  top: 100px;
  margin: auto;
  font-size: x-large;
}

.navbarH {
  background-color: black;
  text-shadow: none;
  font-size: 20;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarF {
  background-color: black;
  text-shadow: none;
  font-size: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  position: relative;
  top: 100px;
}

.login {
  text-shadow: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 33%;
}

.flex-item-center {
  flex: 33%
}

.flex-item-right {
  flex: 33%;
}

body {
  text-align: center;
  background-image: url('https://thumbs.gfycat.com/AdorableLonelyAiredaleterrier-size_restricted.gif');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 30;
  color: white;
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
  /* color offset-x offset-y blur-radius */

}