h1 {
  text-shadow: none;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

header img {
  height: 80px;
}

.upload {
  background-color: black;
  width: 25%;
  position: relative;
  top: 100px;
  margin: auto;
  font-size: x-large;
}

.navbarH {
  font-size: xx-large;
  background-color: black;
  text-shadow: none;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
}

.navbarF {
  background-color: black;
  text-align: center;
  text-shadow: none;
  font-size: large;
  position: fixed;
  bottom: 0;
  width: 75%;
}

button {
  position: relative;
  top: 100px;
}

.login {
  text-shadow: none;
  text-align: center;
  background-color: black;
  width: 25%;
  position: relative;
  top: 100px;
  margin: auto;
  font-size: x-large;
}

.register {
  text-shadow: none;
  text-align: center;
  background-color: black;
  width: 25%;
  position: relative;
  top: 100px;
  margin: auto;
  font-size: x-large;
}

.forgot {
  text-shadow: none;

  background-color: black;
  width: 25%;
  position: relative;
  top: 100px;
  margin: auto;
  font-size: x-large;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 33%;
}

.flex-item-center {
  flex: 33%
}

.flex-item-right {
  flex: 33%;
}

.home {
  /* font-size: x-large; */
  text-align: left;
  margin-left: 20px;
  /* background: url(https://m.media-amazon.com/images/I/51RZjTHw0NL._AC_SY200_QL15_.jpg) no-repeat 0px / 130px; */
  /* width: 137px; */
}

.logout-button {
  text-align: right;
}

.Navbar-loggedOut {
  font-size: larger;
  text-align: right;
  position: relative;
  right: 40px;
}

body {
  text-align: center;
  background-image: url('https://addons-media.operacdn.com/media/CACHE/images/themes/74/230074/1.0-rev1/images/47bd9945c0570a1254700f7509d33cf8/9ac579d7b9d25bfeca811ce59133e2d3.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 30;
  color: white;
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
  /* color offset-x offset-y blur-radius */

}